@media (max-width:241px) {

    .casual-poster{
        height: 30vh;
    }
    .header-container {
        padding: 1rem;
    }

    .nav-logo {
        display: flex;
        flex-direction: column;
        line-height: 0.7rem;

    }

    .logo-text-first {
        font-size: 1.5rem;
        font-weight: 900;
    }

    .logo-text-second {
        font-size: 0.8rem;
        margin-top: 0.3rem;
        font-weight: 600;
    }

    .navbar:last-child{
        align-items: start;
    }

    .nav-link {
        display: flex;
        font-size: 0.4rem;

    }

    .nav-link ul {
        width: 6rem;
    }

    .casual-slider .poster-title {
        font-size: 0.8rem;
        font-weight: 900;
    }

    .casual-slider .poster-body-text {
        font-size: 0.5rem;
        font-weight: 600;
    }

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .cards .card{
        width: 160px;
    }

    .most-veiwed-songs{
        margin:1rem 0rem
    }
    .card .card-title{
        font-size: 1rem;
        line-height: 1rem;
    }

    h2 {
        font-size: 1rem;
    }
    .top-singer-profiles{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0px;
    }

    .get-in-touch{
        width: 30%;
        display: flex;
        font-size: 1rem;
    }
    .copyright-text{
        text-transform: capitalize;
        font-size: 0.8rem;
    }

    .footer-contant .line{
        border-top: 1px solid black;
        margin-top: 5rem;
        line-height: 0%;

    }
    .footer-contant{
        margin-bottom: 10px;
        margin-top: 20px;
    }
}

@media (241px <= width <= 450px){

    .casual-poster{
        height: 60vh;
    }
    .header-container {
        padding: 1rem;
    }

    .navbar:last-child{
        align-items: start;
    }


    .casual-slider .poster-title {
        font-size: 0.9rem;
        font-weight: 900;
    }

    .casual-slider .poster-body-text {
        font-size: 0.6rem;
        font-weight: 600;
    }

    .copyright-text{
        text-transform: capitalize;
        font-size: 0.8rem;
    }
    .footer-contant{
        margin-bottom: 10px;
        margin-top: 20px;
    }
}

@media (450px <= width <= 800px){
    .card{
        width: 250px;
    }
}